<div class="login-container">
  <md-card>
    <md-card-subtitle>Face-ID Signup</md-card-subtitle>
    <md-card-content>
      <div class="input-container">
        <input placeholder="Username or Email" type="email" name="username" [(ngModel)]="user.username" />
      </div>
      <div class="input-container">
        <input placeholder="4 Digit Pin" maxlength="4" type="number" name="pin" [(ngModel)]="user.pin" pattern="^SW[0-9]{4}$" [ngClass]="{'secure-text':!isPinVisible}" />
        <button md-icon-button mdPrefix (click)="togglePinField()">
          <md-icon [ngClass]="{'activated':!!isPasswordVisible}">remove_red_eye</md-icon>
        </button>
      </div>
      <div class="input-container">
        <input placeholder="Confirm 4 Digit Pin" maxlength="4" type="number" name="pin" [(ngModel)]="user.confirmPin" pattern="^SW[0-9]{4}$" [ngClass]="{'secure-text':!isConfirmPinVisible}" />
        <button md-icon-button mdPrefix (click)="toggleConfirmField()">
          <md-icon [ngClass]="{'activated':!!isConfirmPinVisible}">remove_red_eye</md-icon>
        </button>
      </div>
      <div class="flex-row face-login-view">
        <button class="face-login" md-raised-button color="primary" (click)="register()" [disabled]="!isFormValid()">Register Face</button>
      </div>
    </md-card-content>
  </md-card>
</div>