<!-- <div class="camera-snapshot" (click)="getCameraImage()">
  <md-icon [class.small]="imageUrl">camera</md-icon>
  <canvas width="500" height="380" #canvas id="overlay"></canvas>
  <video [hidden]="imageUrl" width="500" height="380" autoplay #video></video>
</div> -->
<div class="camera-container">
  <md-card>
    <md-card-subtitle>Face-ID login</md-card-subtitle>
    <md-card-content>
      <div>
        <img [hidden]="!imageUrl" [src]="imageUrl" />
        <canvas width="483" height="367" #canvas id="overlay-1"></canvas>
        <canvas width="483" height="367" #canvas2 id="overlay-2"></canvas>
        <video [hidden]="imageUrl" width="483" height="367" autoplay #video></video>
      </div>
      <!-- <section class="button-container">
      <button md-button>SHARE</button>
      <button md-raised-button color="primary" class="customized-raised-button">LOGIN</button>
    </section> -->
      <section class="button-container" *ngIf="isCaptureButtonsEnabled()">
        <button md-raised-button class="customized-raised-button" (click)="routeToSignup()">BACK</button>
        <button md-raised-button color="primary" class="customized-raised-button" (click)="capture()" [disabled]="isCaptureDisabled">CAPTURE</button>
      </section>
      <section class="button-container login-btn-container" *ngIf="isLoginButtonsEnabled()">
        <div class="input-container">
          <input placeholder="Password" [type]="!isPasswordVisible ? 'password' : 'text'" name="pin" [(ngModel)]="loginData.pin"/>
          <button md-icon-button mdPrefix (click)="togglePasswordView()">
            <md-icon [ngClass]="{'activated':!!isPasswordVisible}">remove_red_eye</md-icon>
          </button>
        </div>
        <!-- <button md-raised-button class="customized-raised-button">BACK</button> -->
        <button md-raised-button color="primary" class="customized-raised-button" (click)="capture()" [disabled]="!isLoginFormValid()">LOGIN</button>
      </section>
      <section class="signup-text" *ngIf="isLoginButtonsEnabled()">
        <button md-button class="customized-raised-button" color="primary" (click)="routeToSignup()">SIGNUP FOR FACE-ID</button>
      </section>
      <div class="capture-inprogress-text" *ngIf="isFaceCapturing">
        FACE CAPTURE IS IN PROGRESS
      </div>
      <section class="success-msg" *ngIf="successMsg">
        <span>{{successMsg}}</span>
      </section>
      <section class="faliure-msg" *ngIf="errMsg">
        <span>{{errMsg}}</span>
      </section>
    </md-card-content>
  </md-card>
</div>
