:host{
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  .text-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1 1 auto;
    font-size: 80px;
    font-weight: bold;
    color:#ccc;
  }

  .container{
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
  }

  .logout-button{
    background-color: #d69519;
    color:white;
  }

  .btn-container{
    padding:10px;
    flex-shrink: 1;
    text-align: right;
    justify-content: flex-end;
  }
}
