<!-- <md-sidenav #sidenav mode="over" class="side-nav">
    sidenav content
    <md-nav-list>
      <md-list-item (click)="navigateTo(['register'])" *ngIf="!user">
        <a md-line >Register</a>
      </md-list-item>
      <md-list-item (click)="navigateTo(['login'])" *ngIf="!user">
        <a md-line >Login</a>
      </md-list-item>
      <md-list-item (click)="navigateTo(['home'])" *ngIf="user">
        <a md-line >Home</a>
      </md-list-item>
      <md-list-item (click)="logout()" *ngIf="user">
        <a md-line >Logout</a>
      </md-list-item>
    </md-nav-list>
  </m d-sidenav> -->
<div class="main-container">
  <md-toolbar color="primary">
    {{title}}
    <span class="app-toolbar-filler"></span>
  </md-toolbar>
  <div class="pageContent">
    <router-outlet></router-outlet>
  </div>
  <app-block-ui #blockUI></app-block-ui>
</div>