<div class="login-container">
  <md-card>
    <md-card-subtitle>Login Page</md-card-subtitle>
    <md-card-content>
      <div class="input-container">
        <input placeholder="Username or Email" />
      </div>
      <div class="input-container">
        <input placeholder="Password" [type]="!isPasswordVisible ? 'password' : 'text'" />
        <button md-icon-button mdPrefix (click)="togglePasswordView()">
          <md-icon [ngClass]="{'activated':!!isPasswordVisible}">remove_red_eye</md-icon>
        </button>
      </div>
      <div class="flex-row auth-buttons">
        <div class="forgot-password"> Forgot Password </div>
        <button class="login-button" md-raised-button color="primary" (click)="login()">Login</button>
      </div>
      <div class="flex-row face-login-view">
        <button class="face-login" md-raised-button color="primary" (click)="gotoCapturePage()">Login with Face Id</button>
      </div>
    </md-card-content>
  </md-card>
</div>
